body {
  margin: 0;
}
a {
  text-decoration: none;
}
#landing_page {
  margin: 0;
  padding: 0;
}

/* styling for the main page*/
#main_image {
  width: 50vw;
  min-height: 100vh;
  position: fixed;
  float: left;
}
#brent_pic {
  width: 100%;
  height: auto;
}
#main_content {
  background-image: url('../img/pink_rice.png');
  width: 50vw;
  height: 100vh;
  position: relative;
  left: 50vw;
}
h1 {
  text-align: center;
  font-size: 2.25em;
}
h1,
h2,
h3 {
  font-family: 'Bree Serif', serif;
}
#kids {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23vw;
  height: 23vw;
  padding: 0;
  border-radius: 50%;
}
#kids_pic {
  padding-top: 5%;
}
p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
  font-size: 18px;
}
#greeting {
  margin-bottom: 10px;
}
/*This is the styling for the portfolio page*/
#portfolio_page {
  width: 50vw;
  height: auto;
  background-image: url('../img/pink_rice.png');
  position: relative;
  left: 50vw;
  text-align: center;
  padding-bottom: 40px;
}
#eightball_screenshot,
#calc_screenshot {
  width: 45%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
}
#eightball_screenshot:hover,
#calc_screenshot:hover {
  transform: scale(1.1);
}
#github_icon,
#twitter_icon,
#linkedin_icon,
#gmail_icon {
  width: 10%;
  height: auto;
  padding: 5px;
}
#github_icon:hover,
#twitter_icon:hover,
#linkedin_icon:hover,
#gmail_icon:hover {
  transform: scale(1.1);
}
/* This is the styling for the skills page */
#skills_page {
  width: 50vw;
  position: relative;
  left: 50vw;
  background-image: url('../img/pink_rice.png');
}
#html5_logo,
#css3_logo,
#js_logo,
#node_logo,
#react_logo {
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
#html5,
#css3,
#js,
#nodejs,
#react {
  background-color: black;
  height: 100%;
  padding: 0;
  margin: 0;
}
#nodejs {
  width: 30%;
}
#react {
  width: 40%;
}
#js {
  width: 73%;
}
#css3 {
  width: 73%;
}
#html5 {
  width: 80%;
}
.skill_container {
  padding-right: 0;
  padding-left: 0;
  height: 5vh;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid black;
}
#skills {
  padding-top: 10%;
}

/*This is the styling of the div for the form*/
#contact_page {
  width: 50vw;
  height: auto;
  background-image: url('../img/pink_rice.png');
  position: relative;
  left: 50vw;
  padding-bottom: 10%;
  padding-top: 10%;
}
h2 {
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0;
  font-size: 30px;
}
#form_container {
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}
#sample {
  padding-top: 5%;
}
form {
  text-align: center;
  font-family: 'Amaranth', sans-serif;
}
#full_name {
  margin-bottom: 5px;
}